input {
    display: block;
}

/*div{*/
    /*border:1px solid black;*/

/*}*/

#mainContent{
    margin-top: 5%;
}

#friends{
    float: right;
    width: 400px;
    height: 300px;
}

#total-friends{
    width: 75%;
    text-align: center;
}

#news-feed > div > div:nth-child(1) > div > div.comments > div > div > div{
    width: 70% !important;
}

.well{
width: 200%;
}


#news-feed{
    margin-left:45px;
    margin-top: 10px;
    width: 50%;
    float:left;
}


#news-feed>.col-xs-2{
    width: 94% !important;
}

.panel-indent{
    width: 85%;
}
.comment-row{
    width: 180%
}
.set-pic-size{
    max-width: none!important;
    height: 70px;
    width: 70px;
}