<div class="container" id="add-post">
    <div id="post-row" class="row">
        <div id="form" class="span4 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="" ng-submit="addPost()" ng-controller="postController">
                <textarea ng-model="postToSubmitContent" class="span4" id="new_message" name="new_message"
                          placeholder="Type in your message" rows="5"></textarea>
                <input class="btn btn-info" type="submit">
            </form>
        </div>
    </div>
</div>