<div class="row comment-row-boot" >
    <div class="panel panel-default widget pull-right panel-indent">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat='comment in post.comments|limitTo:3'>
                    <div class="row comment-row">
                        <div class="col-xs-2 col-md-1">
                            <img class="set-pic-size" errsrc
                                 ng-src="{{comment.author.profileImageData}}"
                                 class="img-circle img-responsive" alt=""/></div>
                        <div class="col-xs-10 col-md-11">
                            <div class="comment-text">
                                <h3>{{comment.commentContent}}</h3>
                            </div>
                            <div>

                                By: <a href="#">{{comment.author.name}}</a> on
                                {{comment.date|date}}
                            </div>
                        </div>

                        <div class="action">
                            <button ng-if="isMe(comment.author)" type="button" class="btn btn-primary btn-xs"
                                    title="Edit" ng-click="comment.edit=true">
                                <span class="glyphicon glyphicon-pencil"></span>

                            </button>
                            <form ng-show="comment.edit"  ng-submit="editComment(post, comment)"ng-controller="postController">
                                <input ng-model="commentEdit.commentContent" type="text" value="{{comment.commentContent}}"/>
                                <input type="submit" ng-click="comment.edit=!comment.edit" value="ok"/>
                            </form>
                            <button ng-if="isMe(post.author)||isMe(comment.author)" ng-click="deleteComment(post, comment)" type="button" class="btn btn-danger btn-xs"
                                    title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <like-comment  ng-if="!((post.author.isFriend===false)&&(post.wallOwner.isFriend===false))"></like-comment>
                        </div>
                    </div>
                </li>

                <li ng-show="showMore" class="list-group-item" ng-repeat="comment in post.comments" ng-if="$index>2">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img class="set-pic-size" errsrc
                                 ng-src="{{comment.author.profileImageData}}"
                                 class="img-circle img-responsive" alt=""/></div>
                        <div class="col-xs-10 col-md-11">
                            <div class="comment-text">
                                <h3>{{comment.commentContent}}</h3>
                            </div>
                            <div>

                                By: <a href="#">{{comment.author.name}}</a> on
                                {{comment.date|date}}
                            </div>
                        </div>

                        <div class="action">
                            <button ng-if="isMe(comment.author)" type="button" class="btn btn-primary btn-xs"
                                    title="Edit" ng-click="comment.edit=true">
                                <span class="glyphicon glyphicon-pencil"></span>

                            </button>
                            <form ng-show="comment.edit"  ng-submit="editComment(post, comment)"ng-controller="postController">
                                <input ng-model="commentEdit.commentContent" type="text" value="{{comment.commentContent}}"/>
                                <input type="submit" ng-click="comment.edit=!comment.edit" value="ok"/>
                            </form>
                            <button ng-if="isMe(post.author)||isMe(comment.author)" ng-click="deleteComment(post, comment)" type="button" class="btn btn-danger btn-xs"
                                    title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <like-comment  ng-if="!((post.author.isFriend===false)&&(post.wallOwner.isFriend===false))"></like-comment>
                        </div>
                    </div>
                </li>

                <a ng-click="showMore=!showMore;"
                   class="btn btn-primary btn-sm btn-block" role="button"><span
                        class="glyphicon glyphicon-refresh"></span> More</a>



            </ul>
        </div>




    </div>
</div>