<div class="row">
    <div class="panel panel-default widget pull-right panel-indent">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat='comment in post.comments'>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img class="set-pic-size" errsrc
                                 ng-src="{{comment.author.profileImageData}}"
                                 class="img-circle img-responsive" alt=""/></div>
                        <div class="col-xs-10 col-md-11">
                            <div class="comment-text">
                                <h3>{{comment.commentContent}}</h3>
                            </div>
                            <div>

                                By: <a href="#">{{comment.author.name}}</a> on
                                {{comment.date|date}}
                            </div>
                        </div>

                        <div class="action">
                            <button type="button" class="btn btn-primary btn-xs"
                                    title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs"
                                    title="Approved">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </li>

                <li ng-show="showMore" class="list-group-item" ng-repeat="comment in comments[post.id]" ng-if="$index>2">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img class="set-pic-size" errsrc
                                 ng-src="{{comment.author.profileImageData}}"
                                 class="img-circle img-responsive" alt=""/></div>
                        <div class="col-xs-10 col-md-11">
                            <div class="comment-text">
                                <h3>{{comment.commentContent}}</h3>
                            </div>
                            <div>

                                By: <a href="#">{{comment.author.name}}</a> on
                                {{comment.date|date}}
                            </div>
                        </div>

                        <div class="action">
                            <button type="button" class="btn btn-primary btn-xs"
                                    title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs"
                                    title="Approved">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </div>
                </li>

                <a ng-click="showMore=!showMore;"
                   class="btn btn-primary btn-sm btn-block" role="button"><span
                        class="glyphicon glyphicon-refresh"></span> More</a>



            </ul>
        </div>




    </div>
</div>