<navbar></navbar>


<!--<div ng-controller="homeController">-->

<!--<h1><a>{{username}}</a></h1>-->

<!--<div ng-click="logout()">Logout</div>-->

<!--</div>-->
<div id="mainContent">
    <friendsbar></friendsbar>

    <div id="news-feed" ng-controller="postController">
        <h1>News Feed</h1>

        <div infinite-scroll="nextPage()" infinite-scroll-distance='1'>
            <div ng-repeat='post in newsPosts'>
                <link rel="stylesheet"
                      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
                <div class="container">
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img errsrc class="media-object" src="{{post.author.profileImageData}}">
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">{{post.author.name}}</h4>

                                <p class="text-right"></p>

                                <p>{{post.postContent}}</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i>{{post.date|date}}</span></li>
                                    <li>|</li>
                                    <span ng-click="getCommentByPostId(post.id); showComments=!showComments"><i
                                            class="glyphicon glyphicon-comment"></i> {{post.totalCommentsCount}} comments</span>
                                    <li>|</li>
                                    <li>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </li>
                                    <li>|</li>
                                    <li>
                                        <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                                        <span><i class="fa fa-facebook-square"></i></span>
                                        <span><i class="fa fa-twitter-square"></i></span>
                                        <span><i class="fa fa-google-plus-square"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <button ng-click="showContent=!showContent">comment</button>
                    <div ng-show="showContent">
                        <form action="" ng-submit="addCommentToPost(post.id)">
                            <input ng-model="commentData.content" value="" type="text">
                            <input type="submit" value="Comment this post">
                        </form>
                    </div>

                    <div ng-show="showComments">

                        <div class="container">
                            <div class="row">
                                <div class="panel panel-default widget">
                                    <div class="panel-heading">
                                        <span class="glyphicon glyphicon-comment"></span>

                                        <h3 class="panel-title">
                                            Recent Comments</h3>
                <span class="label label-info">
                    78</span>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group" ng-repeat='comment in comments'>
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2 col-md-1">
                                                        <img errsrc ng-src="{{comment.author.profileImageData}}"
                                                             class="img-circle img-responsive" alt=""/></div>
                                                    <div class="col-xs-10 col-md-11">
                                                        <div class="comment-text">
                                                            <h3>{{comment.commentContent}}</h3>
                                                        </div>
                                                        <div>

                                                                By: <a href="#">{{comment.author.name}}</a> on {{comment.date|date}}
                                                            </div>
                                                        </div>

                                                        <div class="action">
                                                            <button type="button" class="btn btn-primary btn-xs"
                                                                    title="Edit">
                                                                <span class="glyphicon glyphicon-pencil"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-success btn-xs"
                                                                    title="Approved">
                                                                <span class="glyphicon glyphicon-ok"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs"
                                                                    title="Delete">
                                                                <span class="glyphicon glyphicon-trash"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span
                                                class="glyphicon glyphicon-refresh"></span> More</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <!--<button ng-hide="showEditPost" ng-click="showEditPost=!showEditPost">edit post</button>-->
                    <!--<div ng-show="showEditPost">-->
                    <!--<form action="" ng-submit="editPostById(post.id)" ng-controller="homeController">-->
                    <!--<input ng-model="$scope.contentToChange.postContent" value="" type="text">-->
                    <!--<input type="submit" value="Edit post">-->
                    <!--</form>-->
                    <!-->
                </div>
            </div>
        </div>
    </div>

</div>