<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li><a>Newsfeed</a></li>
            <li><a href="#/friends">Friends</a></li>





            <li ng-controller="friendsController" class="dropdown" ng-init="getReceivedRequests()">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                        class="glyphicon glyphicon-user"><span
                        id=class="badge">{{watingRequestsLenght}}</span><span class="caret"></span></span></a>
                <ul class="dropdown-menu" id="pendingRequests" role="menu"  >
                    <li ng-repeat="requestingUser in watingRequests">
                        <a ng-controller="friendsController">
                            <img  ng-click="redirectToUsersPage(requestingUser.user.username)" class="pendingFriendPic" ng-src="{{requestingUser.user.profileImageData}}" errsrc
                                  alt="no picture"/>

                            <p ng-click="redirectToUsersPage(requestingUser.user.username)" >{{requestingUser.user.name}}</p>

                            <div class="acceptFriendRequest" ng-click="acceptFriendRequest(requestingUser.id)">
                                <span  class="label label-success">Accept</span>
                            </div>


                            <div class="rejectFriendRequest" ng-click="rejectFriendRequest(requestingUser.id)">
                                <span    class="label label-danger">Reject</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>







            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="#/changePassword">Change password</a></li>
                <li class="divider"></li>
                <li><a href="#/editProfile">Edit profile</a></li>
            </ul>
            </li>
        </ul>
        <button type="button" ng-click="logout()" class="btn btn-default navbar-btn" ng-controller="authenticationController">Logout</button>
        <div class="col-sm-3 col-md-3 pull-right">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <search></search>
                    <!--<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">-->

                </div>
            </form>
        </div>

    </div>
</div>
