<div ng-cloak  class="prev">
    <span class="button-custom" ng-click="hideUserPreview();hidePopover();" class="preview-close glyphicon glyphicon-remove"></span>

    <p>{{post.wallOwner.name}}</p>
    <div>
        <img ng-src="{{post.wallOwner.profileImageData}}" alt="profile picture" style="width: 150px; height: 150px"/>
    </div>
    <div class>
        <a ng-click="hidePopover()" href="#/users/{{post.wallOwner.username}}">
            <h4>{{post.wallOwner.username}}</h4>
        </a>
        <p ng-if="post.wallOwner.gender===1">Male</p>
        <p ng-if="post.wallOwner.gender===2">Female</p>
        <p ng-if="post.wallOwner.gender===0">Other</p>
        <div ng-if="post.author.username !== username">
            <button ng-if="post.wallOwner.isFriend === false" type="submit" class="btn btn-lg btn-danger" >Not Friend</button>
            <button ng-if="post.wallOwner.isFriend === true" class="btn btn-lg btn-success" disabled>Friend</button>
            <button ng-if="post.wallOwner.hasPendingRequest=== true" class="btn btn-lg btn-warning" disabled>Pending</button>
        </div>
        <!--<p ng-if="post.wallOwner.username === username">That`s me :)</p>-->
    </div>

</div>

