    <div ng-repeat='post in newsPosts'>
        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <div class="container" id="post-container">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img errsrc class="media-object" ng-src="{{post.author.profileImageData}}">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{post.author.name}}</h4>

                        <p class="text-right"></p>

                        <p>{{post.postContent}}</p>

                        <form id="editComment" ng-show="editComment===true" ng-submit="editPostById(post)" ng-controller="postController">
                            <input type="text" value="{{post.postContent}}" ng-model="editPostContent" id="editPost">
                            <span><input type="submit" ng-click="editComment=!editComment" value="Edit post"/></span>
                        </form>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i>{{post.date|date}}</span></li>
                            <li>|</li>
                                    <span ng-click="getCommentByPostId(post.id);showComments=!showComments"><i
                                            class="glyphicon glyphicon-comment"></i> {{post.totalCommentsCount}} comments</span>
                            <li>|</li>
                            <li ng-show="shoudShowForUser(post.author.username)">
                                <button ng-click="editComment=!editComment" type="button" class="btn btn-primary btn-xs"
                                        title="{{currentUser}}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <button ng-click="showContent=!showContent">comment</button>
            <div ng-show="showContent" ng-controller="postController">
                <form action="" ng-submit="addCommentToPost(post)">
                    <input ng-model="commentData.content" value="" type="text">
                    <input type="submit" value="Comment this post">
                </form>
            </div>

            <div ng-show="showComments">

                <comments></comments>
            </div>
        </div>


    </div>


    <!--<button ng-hide="showEditPost" ng-click="showEditPost=!showEditPost">edit post</button>-->
    <!--<div ng-show="showEditPost">-->
    <!--<form action="" ng-submit="editPostById(post.id)" ng-controller="homeController">-->
    <!--<input ng-model="$scope.contentToChange.postContent" value="" type="text">-->
    <!--<input type="submit" value="Edit post">-->
    <!--</form>-->
    <!-->
