    <div ng-repeat='post in newsPosts'>
        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <div class="container" id="post-container">
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img errsrc class="media-object" ng-src="{{post.author.profileImageData}}">
                    </a>

                    <div class="media-body">
                        <h4  class="media-heading">
                            <span popup-show="templates/author-preview-template.html" popup-placement="left">{{post.author.name}} >></span>
                            <span  popup-show="templates/owner-preview-template.html" popup-placement="left">{{post.wallOwner.name}}</span></h4>

                        <p class="text-right"></p>

                        <p>{{post.postContent}}</p>



                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i>{{post.date|date}}</span></li>
                            <li>|</li>
                                    <span ng-click="getCommentByPostId(post);showComments=!showComments"><i
                                            class="glyphicon glyphicon-comment"></i> {{post.totalCommentsCount}} comments</span>
                            <li ng-if="!((post.author.isFriend===false)&&(post.wallOwner.isFriend===false))">|
                                <like-post></like-post>
                            </li>
                            <li ng-if="isMe(post.author)">|
                                <button ng-click="post.edit = true" type="button" class="btn btn-primary btn-xs"
                                        title="{{currentUser}}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <form id="editComment" ng-show="post.edit" ng-submit="editPostById(post)" ng-controller="postController">
                                    <input type="text" value="{{post.postContent}}" ng-model="editPostContent" id="editPost">
                                    <span><input type="submit" ng-click="post.edit=!post.edit" value="Edit post"/></span>
                                </form>

                            </li>
                            <li ng-if="isMe(post.author)||isMe(post.wallOwner)">|
                                <button type="button" class="btn btn-danger btn-xs"
                                        title="{{currentUser}}" ng-click="deletePost(post.id)">
                                    <span class="glyphicon glyphicon-remove-sign"></span></button>
                            </li>
                            <li>|
                                    <button ng-click="showContent=!showContent"class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-comment"></span>comment</button>
                                    <span ng-show="showContent" ng-controller="postController">
                                        <form action="" ng-submit="addCommentToPost(post)">
                                            <input ng-model="commentData.content" value="" type="text">
                                            <input type="submit" value="Comment this post">
                                        </form>
                                    </span>

                            </li>

                        </ul>
                    </div>
                </div>
                </div>


            <div ng-show="showComments">
                <comments></comments>
            </div>
        </div>


    </div>


    <!--<button ng-hide="showEditPost" ng-click="showEditPost=!showEditPost">edit post</button>-->
    <!--<div ng-show="showEditPost">-->
    <!--<form action="" ng-submit="editPostById(post.id)" ng-controller="home

    ">-->
    <!--<input ngdel="$scope.contentToChange.postContent" value="" type="text">-->
    <!--<input type="submit" value="Edit post">-->
    <!--</form>-->
    <!-->
