<userwall></userwall>
<!--<div ng-controller="FriendsController">-->
<!--<div  ng-init="getUserWall(fuckMyLife.username)">-->
    <!--&lt;!&ndash;<div back-img="{{searchedUserWall.coverImageData}}"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<img ng-src="{{userWall.profileImageData}}" alt=""/>&ndash;&gt;-->
    <!--<p ng-controller="FriendsController">{{fuckMyLife.username}}</p>-->
    <!--&lt;!&ndash;<p>{{userWall.name}}</p>&ndash;&gt;-->
    <!--<p>{{userWall.gender}}</p>-->
    <!--&lt;!&ndash;<div ng-show="searchedUserWall.isFriend ==  false && searchedUserWall.isFriend==false">Add Friend</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-show="searchedUserWall.isFriend ==  false && searchedUserWall.isFriend==true">Friend Request is pending</div>&ndash;&gt;-->
    <!--<p>kur</p>-->
<!--</div>-->
<!--</div>-->


